/* src/styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'abril';
  src: url('/assets/fonts/abril.ttf') format('truetype');
}

@font-face {
  font-family: 'cormorant';
  src: url('/assets/fonts/Cormorant.ttf') format('truetype');
}

@font-face {
  font-family: 'inter';
  src: url('/assets/fonts/Inter.ttf') format('truetype');
}

